* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: #fff;
}
body {
  height: 100%;
}

.hero-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.background-img {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.background-img img {
  position: absolute;
}

.navbar,
.nav-right,
.nav-center {
  display: flex;
  position: relative;
  z-index: 2;
}

.nav-center {
  font-size: 0.9rem;
  font-weight: bold;
  gap: 22px;
}

.nav-center p {
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
}

.navbar {
  /* position: sticky; */
  /* top: 0; */
  align-items: center;
  justify-content: space-around;
  background-color: rgb(153 142 142 / 6%);
  padding: 1rem 6rem 1rem 5rem;
}

.nav-left > img {
  height: 22px;
  width: 104px;
}
.nav-right {
  gap: 9px;
}

.contact-btn {
  font-weight: 500;
  font-size: 15px;
  border-radius: 35px;
  height: 2rem;
  width: 7rem;
  color: white;
  background-color: rgba(128, 128, 128, 0.144);
  padding: 0px;
  border: none;
  cursor: pointer;
}

.free-start-btn {
  font-weight: 500;
  font-size: 15px;
  border-radius: 35px;
  height: 2rem;
  width: 7rem;
  background-color: white;
  color: black;
  padding: 0px;
  border: none;
  cursor: pointer;
}

.to-article {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.badge {
  display: flex;
  padding: 5px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.13);
  border: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 35px;
  cursor: pointer;
}

.badge p {
  font-size: 15px;
}

.green-btn {
  font-size: 10px;
  border-radius: 35px;
  height: 1.5rem;
  width: 3rem;
  padding: 5px;
  background-color: #0d8c5d;
  font-size: 0.75rem;
  font-weight: bold;
}

.right-arrow {
  width: 15px;
  height: 15px;
}

.hero-mid-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.hero-mid-part h1 {
  font-size: 3.25rem;
  text-align: center;
}

.hero-mid-part p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.05rem;
  width: 25.9rem;
}

.email-form {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  max-width: 22.5rem;
  padding: 0.25rem;
  border-radius: 9999px;
  position: relative;
}

.email-form input::placeholder {
  color: #aed6d3;
  opacity: 1;
}

.email-form input {
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 35px;
  width: 100%;
  height: 2.5rem;
  outline: none;
}

.email-form button {
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  border-radius: 35px;
  width: auto;
  background-color: white;
  color: black;
  padding: 6px;
  border: none;
  cursor: pointer;
  right: 10px;
  top: 8px;
}

.middle-part {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.hero-image img {
  border-radius: 25px;
}

.users-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-left: 12rem;
}

.users-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 7px;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(4, 64px);
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.paypal-logo img {
  height: 50px;
  width: 120px;
}

.microsoft-logo,
.coinbase-logo {
  width: 115px;
}

.x-logo {
  padding-left: 3rem;
}

.feature-text-and-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text p {
  color: #393a3b;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
}

.text h2 {
  color: black;
  font-size: 2.5rem;
  font-weight: 500;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 1.5rem;
}

.feature-card {
  display: flex;
  flex-direction: column;
  padding: 6px;
  gap: 6px;
  border: 1px solid #d3cece;
  border-radius: 20px;
  height: 32rem;
  width: 30rem;
}

.green-heading-sm {
  color: #0c8c5e;
  font-size: small;
  font-weight: 400;
  padding: 20px;
}

.description {
  color: black;
  font-weight: 500;
  padding: 20px;
  margin-top: -29px;
}

.para {
  color: #393a3b;
  padding: 20px;
  margin-top: -29px;
}

.assistant-card {
  display: flex;
  flex-direction: column;
  width: 72.5%;
  margin-top: 1.25rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3cece;
  border-radius: 30px;
  padding: 24px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enterprise-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  margin-top: 8rem;
  padding-bottom: 10rem;
}

.enterprise-text-and-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  height: 10rem;
}

.enterprise-text {
  display: flex;
  flex-direction: column;
  height: 10px;
}

.enterprise-text h3 {
  padding: 1px;
}

.enterprise-text h1 {
  color: black;
  font-size: 2.5rem;
}

.enterprise-text p {
  padding-top: 50px;
  padding-left: 1px;
}

.enterprise-btn button {
  font-weight: 500;
  font-size: 15px;
  border-radius: 35px;
  height: 2.15rem;
  width: 12rem;
  background-color: black;
  padding: 0px;
  border: none;
  cursor: pointer;
}

.enterprise-btn {
  display: flex;
  height: 21rem;
  flex-direction: column;
  justify-content: end;
}

.enterprise-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9rem;
}

.enterprise-card {
  display: flex;
  flex-direction: column;
  height: 14rem;
  width: 32rem;
}

.enterprise-card h2 {
  color: black;
  font-size: 22px;
  margin-top: 5px;
}

.enterprise-card p {
  color: #373839;
  margin-top: 9px;
}

.enterprise-banner {
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    url(assets/swappy-20260202-010618.png);
  height: 520px;
  width: 1028px;
  background-repeat: no-repeat;
  background-size: 105% auto;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 4rem;
}

.enterprise-banner:hover {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(assets/swappy-20260202-010618.png);
}

.enterprise-banner h3 {
  font-size: 12px;
}

.enterprise-banner h2 {
  margin-top: 25px;
}

.enterprise-banner p {
  margin-top: 30px;
}

.enterprise-banner p span svg {
  width: 10px;
  rotate: -90deg;
}

.banner-text-wrapper {
  display: flex;
  margin-top: 5rem;
  gap: 1.25rem;
}
.banner-text h1 {
  font-weight: 400;
  font-size: 3rem;
}

.banner-text p {
  color: #d3cece;
  font-weight: 500;
  margin-top: 1px;
}

.enterprise-user-companies {
  display: flex;
  margin-top: 3rem;
  gap: 6rem;
}

.carousel {
  overflow: hidden;
}

.track {
  margin: 0px 200px;
  display: flex;
  gap: 2rem;
}

.carousel-card {
  max-width: 400px;
}

.image-container {
  background-size: 120% auto;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 400px;
  height: 290px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  cursor: pointer;
}

.image-container img {
  filter: brightness(0) saturate(100%) invert(1);
}
.carousel-card p {
  color: #393a3b;
}

.carousel-card button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-top: 2rem;
  color: #393a3b;
}
.carousel-card button span svg {
  width: 10px;
  rotate: -90deg;
}
.carousel-card button:hover {
  color: #0c8c5e;
  cursor: pointer;
}

.carousel-button {
  margin-top: 65px;
  text-align: center;
}

.carousel-button span {
  margin: 5px;
}

.feedback-heading {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.feedback-heading h1 {
  color: black;
  font-size: 2.5rem;
}

.feedback-heading p {
  color: #393a3b;
  font-weight: 500;
  font-size: 1.15rem;
  margin-top: 10px;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13rem;
}

.cta h1 {
  color: #000;
  text-align: center;
  font-size: 2.5rem;
}

.cta p {
  color: #08090a;
  font-size: 18px;
  margin-top: 12px;

}

.cta-btn{
  gap: 10px;
  margin-top: 3rem;
  display: flex;
  margin-bottom: 10px;
}

.get-started-btn {
  font-weight: 500;
  font-size: 15px;
  border-radius: 35px;
  height: 2.35rem;
  width: 12rem;
  color: white;
  background-color: #000;
  padding: 0px;
  border: none;
  cursor: pointer;
}

.demo-btn {
  font-weight: 500;
  font-size: 15px;
  border-radius: 35px;
  height: 2.35rem;
  width: 8rem;
  background-color: white;
  color: black;
  padding: 0px;
  border: 1px solid #373839;
  cursor: pointer;
}

.cta-card-wrapper{
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
}

.cta-card{
  text-align: center;
  width: 30rem;
}

.cta-card img{
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 9px;
}

.cta-card button{
  border: none;
  font-size: 18px;
  background-color: #fff;
  color: #0c8c5e;
  margin-top: 25px;
}

.cta-card h3{
  color: #000;
  font-size: 24px;
}
